:root {
  --green: #5CA720;
  --black: #161616 ;
  --grey-div: #A5A1A1;
  --grey-background: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;

  transition: all .45s;
}

h1,h2,h3 {
  margin: 0;
  font-weight: 400;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background: none;
}

nav {
  display: flex;
  padding: 32px 64px;
  justify-content: space-between;
  background: #fff;

  position: sticky;
  top: 0;
}

menu {
  display: flex;
  gap: .8rem;
}

li {
  list-style: none;
}
menu > li svg {
  width: 1.5rem;
  height: 1.5rem;
}

header{
  overflow: hidden;
}

header {
  background-image: url(./assets/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.promo-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  border-bottom: .2px solid var(--grey-div) ;
}

.promo-section * {
  font-weight: 400;
}

.promo-section__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.promo-section__subtitle {
  font-size: 1.120rem;
}

.products {
  margin: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.products__product {
  margin-bottom: 1.6rem;
}

.product__image {
  background-image: url(./assets/devin-avery-bMH8ub9z1_U-unsplash.jpg);
  height: 230px;
  width: 230px;

  background-position: center;
  background-size: cover;
  margin-bottom: .6rem;
}

.product__body {
  font-size: .75rem;
}

.product__body > h2 {
  color: var(--green);
  font-weight: 700;

  margin-top: .2rem;
}
.product__body span {
  color: #000;
  font-weight: 400;
  font-size: 1rem;
}

footer {
  background: var(--grey-background);
  border-top: 1px solid var(--grey-div);
}

.footer__redirect-area {
  display: flex;
  flex-direction: column;
  gap: .75rem;

  font-size: 1rem;
  font-weight: 600;
}

footer > hgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter * {
  font-size: 1.25rem;
}

.newsletter > form {
  background: #fff;
  border: 1px solid var(--grey-div);
  border-radius: 6px;
  display: flex;
  align-items: stretch;
}

.newsletter input {
  padding: 1rem .75rem;
}

.newsletter button {
  color: #fff;
  font-weight: 700;
  background: var(--green);
  padding: 0 2rem;
}

.footer__body {
  display: flex;
  padding: 2rem 3rem;
  border-top: 1px solid var(--grey-div);
  justify-content: space-between;
  align-items: center;
}

.social-media, .bank-flags {
  display: flex;
  align-items: center;
  gap: .9rem;
}


@media (max-width: 818px) {
  .products {
    margin: 1rem 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  footer > hgroup {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  .footer__redirect-area{
    align-self: flex-start;
  }
  .newsletter > label {
    margin-left: 1rem;
  }
  .newsletter > form {
    flex-direction: column;
    border: none;
    gap: 1rem;
    width: calc(100vw - 2rem);
    margin: 0 1rem;
  }
  .newsletter input {
    border: 1px solid var(--grey-div);
    border-radius: 6px;
  }

  .newsletter button {
    border-radius: 6px;
    padding: 16px;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 414px) {
  nav {
    flex-wrap: wrap;
    align-items: center;
  }

  .promo-section {
    padding: 1rem 2rem;
  }

  .footer__body {
    flex-direction: column;
    gap: 1.2rem;
  }
}

@media (max-width: 346px){
  nav {
    padding: 16px;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  menu {
    display: flex;
    gap: 2rem;
  }
} 
