:root {
  --green: #5CA720;
  --black: #161616 ;
  --grey-div: #A5A1A1;
  --grey-background: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
}

h1,h2,h3 {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

nav {
  display: flex;
  padding: 32px 64px;
  justify-content: space-between;
  background: #fff;

  position: sticky;
  top: 0;
}

menu {
  display: flex;
  gap: .8rem;
}

li {
  list-style: none;
}
menu > li svg {
  width: 1.5rem;
  height: 1.5rem;
}

header{
  overflow: hidden;
}

header {
  background-image: url(./assets/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.promo-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  border-bottom: .2px solid var(--grey-div) ;
}

.promo-section * {
  font-weight: 400;
}

.promo-section__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.promo-section__subtitle {
  font-size: 1.120rem;
}

@media (max-width: 414px) {
  nav {
    flex-wrap: wrap;
    align-items: center;
  }

  .promo-section {
    padding: 1rem 2rem;
  }
}

@media (max-width: 346px){
  nav {
    padding: 16px;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  menu {
    display: flex;
    gap: 2rem;
  }
} 


